.addressCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border: 0;
    background-color: var(--background);
    border-top: 1px color-mix(in srgb, var(--foreground) 15%, transparent) solid;
}

.addressCardLabel {}

.addressCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    min-width: 0;
}

.addressCardIcon {}

.addressCardText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addressCardModel {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px plum solid;
    border-radius: .5rem;
    margin: auto;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1rem 0;
}

.buttonActionContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.addressCardModel[open] {
    display: flex;
}

.addressCardModel::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    transition: background-color 1s, backdrop-filter 1s;
}

@starting-style {
    .addressCardModel::backdrop {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

.addressOption {
    background-color: var(--background);
    border: 0;
}

.addressCardModelContent {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px color-mix(in srgb, var(--foreground) 15%, transparent) solid;
    gap: .8rem;
    padding: 1rem;
}

.modelAddressText {
    width: 100%;
}

.modelIcons {
    width: 23px;
}

.addressCardModelText {
    text-align: center;
}

.addressCardModelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBtnExit {
    background-color: red;
    padding: .4rem 1rem;
    text-align: center;
    border: 1px var(--foreground) solid;
    border-radius: .5rem;
    align-self: center;
}

.modalBtn {
    background-color: var(--foreground);
    color: var(--background);
    padding: .4rem 1rem;
    text-align: center;
    border: 1px var(--foreground) solid;
    border-radius: .5rem;
    align-self: center;
}


button:disabled {
    color: gray;
}

.editForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    min-width: 270px;
}

.editFormField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 700px) {
    .addressCardModelContent {
        gap: 1rem;
    }

    .modelIcons {
        width: 25px;
    }
}