.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem
}

.p{
    font-size: .82rem;
    font-weight: 400;
}

.subTitle{
    font-size: 1.2rem;
    font-weight: bold;
}

.termoText{
    font-size: .65rem;
    font-weight: 400;
}

.errorText{
    color:red;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.8rem;
    margin: 1rem;
}