.shippingCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    border: 0;
    background-color: var(--background);
    border-top: 1px color-mix(in srgb, var(--foreground) 15%, transparent) solid;
    border-bottom: 1px color-mix(in srgb, var(--foreground) 15%, transparent) solid;
}

.shippingCardContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
    text-align: left;
}

.shippingCardLabel {
    flex-shrink: 0;
}


.shippingCardIcon {
    flex-shrink: 0;
}

.shippingCardText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.shippingCardModel {
    display: none;
    flex-direction: column;
    gap: 1rem;
    border: 1px plum solid;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: .5rem;
    margin: auto;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1rem 0;
}

.shippingCardModel[open] {
    display: flex;
}

.shippingCardModel::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    transition: background-color 1s, backdrop-filter 1s;
}

@starting-style {
    .shippingCardModel::backdrop {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

.shippingOption {
    background-color: var(--background);
    border: 0;
    border-bottom: 1px color-mix(in srgb, var(--foreground) 15%, transparent) solid;
    padding: 1rem;
}


.shippingCardModelText {
    text-align: center;

}

.shippingCardModelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBtn {
    background-color: red;
    padding: .4rem 1rem;
    text-align: center;
    border: 1px var(--foreground) solid;
    border-radius: .5rem;
    align-self: center;
}